//* global settings */
$border-radius: 10px;
$trans-speed: 200ms;
$trans-ease: ease;


//* typography */
$display-font: "Open Sans", sans-serif !default;
$display-font-weight: 700 !default;
$copy-font: verdana, sans-serif !default;
$icons: entypo;

$font-size-base: 16;

$font-size-large:         ceil(($font-size-base * 1.25) * 1px) !default; // ~20px
$font-size-small:         ceil(($font-size-base * .75) * 1px) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.6) * 1px) !default; // ~41px
$font-size-h2:            floor(($font-size-base * 2.15) * 1px) !default; // ~34px
$font-size-h3:            ceil(($font-size-base * 1.7) * 1px) !default; // ~28px
$font-size-h4:            ceil(($font-size-base * 1.25) * 1px) !default; // ~20px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * .85) * 1px) !default; // ~14px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base) * 1px) !default; // ~22px

$blockquote-font-size: ($font-size-base * 1.25) !default;

//* button style settings */
$global-btn-style: 'flat';
$has-alt-btn-color: true;


//* responsive breakpoint settings */
$mobile-column: (400 / $font-size-base) * 1em;
$narrow-column: (720 / $font-size-base) * 1em;
$multi-column: (1080 / $font-size-base) * 1em;
$max-column: (1600 / $font-size-base) * 1em;

$main-width: $narrow-column;
$multi-width: $multi-column;
$max-width: $max-column;
$narrow-width: 95%;
$mobile-width: 90%;


//* grid settings */
$total-cols: 16;
$gutter: 5%;
$column-width: ((100 - ($gutter * ($total-cols))) / $total-cols);


// //== Components

// $padding-base-vertical:     6px !default;
// $padding-base-horizontal:   12px !default;

// $padding-large-vertical:    10px !default;
// $padding-large-horizontal:  16px !default;

// $padding-small-vertical:    5px !default;
// $padding-small-horizontal:  10px !default;

// $padding-xs-vertical:       1px !default;
// $padding-xs-horizontal:     5px !default;


// //** Width of the `border` for generating carets that indicator dropdowns.
// $caret-width-base:          4px !default;
// //** Carets increase slightly in size for larger components.
// $caret-width-large:         5px !default;



