// YB STYLE TILE TEMPLATE
@charset "utf-8";

// IMPORTS
@import "compass/layout";
@import "compass/utilities";
@import "compass/typography";
@import "compass/css3";
@import "base";

// GLOBAL COLORS
$mainBG: $black;
$wrapperBG: $light-grey;
$ph-grey: #ddd;
$yb-black: #231d1e;
$yb-yellow: #ffcd00;

// TILE IMPORTS
@import "option-a";
@import "option-b";
@import "option-c";

// FONTS

// DEFAULT COLORS
// .wrapper { background-color: $ph-grey; }
// .style-tile { background-color: white; }
// .masthead { background-color: darken($ph-grey, 5%); }
.logo { background-color: darken($ph-grey, 10%); }
.color { background-color: $ph-grey; }
.texture { background-color: $ph-grey; }

// INFRASTRUCTURE
#top-bar {
	position:fixed;
	@include box-sizing(border-box);
	width:100%;
	height: 80px;
	padding:1em;
	background-color:$yb-black;
	clear:both;
	z-index: 999;
	span {
		display:inline-block;
		color:$white;
		font-family: Trebuchet MS, sans-serif;
	}

	.company-name {
		opacity: .6;
	}

	.option-name {
		@include transition(transform 300ms linear);
	}
}

a#back-to-project {
	position:absolute;
	display:block;
	top:50%;
	right:2em;
	height: 30px;
	margin-top: -15px;
	border:3px solid transparent;
	color:white;
	@include transition(border 300ms linear);
	text-decoration:none;

	font-family: Trebuchet MS;
	font-size: 13px;

	&:hover {
		border-bottom: 3px solid $yb-yellow;
	}
}

.option-anim-hidden {
	@include transform(scaleX(2) rotateY(-90deg));
	perspective: 500px;
}

.side-controls {
	position:fixed;
	top:50%;
	width:60px;
	height:300px;
	margin-top:-150px;
	background-color: $yb-black;
	background-repeat: no-repeat;
	background-position:center center;
	opacity:.4;
	@include transition(opacity 230ms ease);
	z-index: 10;

	&:hover {
		opacity:.8;
	}
}

#prev-button {
	left:0;
	background-image: url('../images/button-prev.png');
}

#next-button {
	right:0;
	background-image: url('../images/button-next.png');
}

span.label {
	display:block;
}


#style-viewer {
	position:fixed;
	top:8%;
	left:0;
	width:100%;
	height:92%;
	@include transition(left 1s ease-in-out);
}

iframe {
	width:100%;
	height:100%;
	z-index: 1;
}

iframe {
	position:absolute;
	top:0;
	left:0;

	&.tile-2 {
		left:100%;
	}

	&.tile-3 {
		left:200%;
	}

	&.tile-4 {
		left:300%;
	}

	&.tile-5 {
		left:400%;
	}

	&.tile-6 {
		left:500%;
	}

	&.tile-7 {
		left:600%;
	}

	&.tile-8 {
		left:700%;
	}

	&.tile-9 {
		left:800%;
	}
}

.wrapper {
	width:100%;
	padding:60px 0;
	background-position: center;
	min-height: 100%;
	@include clearfix;
}

.style-tile, .masthead-inner, .padded-area-inner, .footer {
	width: 900px;
	margin: 0 auto;
	@include clearfix();
}

.masthead {
	position:relative;
	width:100%;
	margin: 0 0 2em 0;
	@include box-sizing(border-box);
	.logo {
		position:relative;
		float:left;
		width: 260px;
		height: 60px;
		margin-top: 2em;
		margin-bottom: 2.5em;
		background-position: center center;
		background-repeat: no-repeat;
		background-color: transparent;
		background-image: url('../images/eastwood_logo.png') !important;
	}
}

.navigation {
	clear:both;
	width:100%;
	margin-left: 0;
	list-style: none;
	li {
		float:left;
		margin-right:1.5em;
		cursor:pointer;
	}
}

.padded-area-inner {
	@include clearfix;
}

.typography {
	float:left;
	width: 60%;
	h1 {
		margin-bottom:0;
	}
	.font-info {
		display:block;
		margin-bottom:.8em;
		font-size: .75em;
		opacity: .6;
		font-family: sans-serif;
		font-weight: bold;
		color: lighten($off-black, 40%);
	}
}

.mini-moodboard {
	float: right;
	width: 320px;
	height: 460px;
	// background: url('../images/mini-moodboard1.png') no-repeat;
}

.buttons {
	clear: left;
	width: 60%;
	.btn {
		float: left;
		width: 40%;
		margin-right: 3%;
		background: $light-grey;
		line-height: 40px;
		text-align: center;
		text-decoration: none;
	}
}

.color-palette {
	float: right;
	margin-top: 30px;
	margin-right: 1px;
	.color {
		float: left;
		width: 60px;
		height: 60px;
		margin: 0 0 1em 0.8em;
		outline: 1px solid lighten(gray, 40%);
	}
}

.pull-out {
	float: left;
	width: 55%;
	@include clearfix;
}

.brand-attributes {
	@include clearfix;
	float: right;
	width: 40%;
	ul {
		margin:0;
		list-style: none;
		li {
			float:left;
			margin-right:1em;
			margin-bottom: 1em;
			font-size: 1.6em;
			color:$ph-grey;
		}
	}
}

// end main prototype styles