@charset "UTF-8";
/* RESET
----------------------------------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003153}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003164}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003169}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003175}}
q, blockquote {
  quotes: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003178}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003183}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003187}}
img, object {
  outline: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003189}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* ==== global settings ==== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003196}}
html {
  overflow-y: scroll;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003200}}
img, embed, object, video {
  max-width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003201}}
.ie6 img.full, .ie6 object.full, .ie6 embed, .ie6 video {
  width: 100%;
}

/* maxvoltar.com/archive/-webkit-font-smoothing */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003205}}
html {
  -webkit-font-smoothing: antialiased;
}

/* CORE TYPOGRAPHY
----------------------------------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003210}}
body {
  font-size: 1em;
  line-height: 1.618em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003215}}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.809em;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003220}}
h1 {
  font-size: 1.5em;
  /* 24px --> 24 ÷ 16 = 1.5 */
  line-height: 1em;
  /* 24px --> 24 ÷ 24 = 1 */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003225}}
h2 {
  font-size: 1.375em;
  /* 22px --> 22 ÷ 16 = 1.375 */
  line-height: 1.0909em;
  /* 24px --> 24 ÷ 22 = 1.090909(09) */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003230}}
h3 {
  font-size: 1.25em;
  /* 20px --> 20 ÷ 16 = 1.25 */
  line-height: 1.2em;
  /* 24px --> 24 ÷ 20 = 1.2 */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003235}}
h4 {
  font-size: 1.125em;
  /* 18px --> 18 ÷ 16 = 1.125 */
  line-height: 1.333em;
  /* 24px --> 24 ÷ 18 = 1.3333333(3) */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003240}}
h5, h6 {
  font-size: 1em;
  /* 16px --> 16 ÷ 16 = 1 */
  line-height: 1.5em;
  /* 24px --> 24 ÷ 16 = 1.5 */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003245}}
p, ul, ol, dl, blockquote {
  font-size: 1em;
  line-height: 1.618em;
  margin-bottom: 1.618em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003251}}
ul {
  list-style-type: disc;
  margin-left: 1.618em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003252}}
ol {
  list-style-type: decimal;
  margin-left: 1.618em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003253}}
nav ul, nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003255}}
b, strong {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003256}}
i, em {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003257}}
small {
  font-size: 80%;
}

/* LINKS
----------------------------------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003261}}
a, a:visited {
  outline: none;
  color: #439BBD;
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003262}}
a:hover {
  outline: none;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003263}}
a:active, a:focus {
  outline: none;
}

/* BROWSER AND NON-SEMANTIC STYLING
----------------------------------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003267}}
.cf:before, .cf:after {
  content: "";
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003268}}
.cf:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003269}}
.ie6 .cf {
  zoom: 1;
}

/* align checkboxes, radios, text inputs with their label */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003272}}
input[type="radio"] {
  vertical-align: text-bottom;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003273}}
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003274}}
.ie6 input {
  vertical-align: text-bottom;
}

/* hand cursor on clickable input elements */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003277}}
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* bicubic resizing for non-native sized IMG:
code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003281}}
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* ==== common classes ==== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003285}}
.clear {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003289}}
.iepie {
  behavior: url(/wp-content/themes/ybbase/PIE.htc);
}

/* Hide for both screenreaders and browsers: h5bp.com/m */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003294}}
.hidden {
  display: none !important;
  visibility: hidden;
}

/*  Hide only visually, but have it available for screenreaders: h5bp.com/v */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003297}}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003300}}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003303}}
.invisible {
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003305}}
.fltlft {
  float: left;
  display: inline;
  margin-right: 1.618em;
  margin-bottom: 1.618em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003311}}
.fltrt {
  float: right;
  display: inline;
  margin-left: 1.618em;
  margin-bottom: 1.618em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003317}}
.hasPlaceholder {
  color: #777;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003321}}
li.dropMenu {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003323}}
li.dropMenu ul {
  position: absolute;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003328}}
.empty {
  color: #aaa;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003330}}
.placeholder {
  color: #aaa;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003334}}
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/*
* print styles
* inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/
*/
@media print {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003343}}
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003344}}
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* Don't show links for images */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003346}}
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003347}}
  img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003349}}
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_base\.scss}line{font-family:\00003350}}
  h2, h3 {
    page-break-after: avoid;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_option-a\.scss}line{font-family:\0000315}}
.option-a h1, .option-a h2, .option-a h3, .option-a h4, .option-a h5, .option-a h6 {
  font-family: helvetica;
  color: #181818;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_option-a\.scss}line{font-family:\0000321}}
.option-a h1 {
  font-size: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_option-a\.scss}line{font-family:\0000325}}
.option-a h2 {
  font-size: 21px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_option-a\.scss}line{font-family:\0000329}}
.option-a .font-info {
  font-family: helvetica;
  color: green;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_option-a\.scss}line{font-family:\0000334}}
.option-a p {
  font-family: helvetica;
  color: #181818;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_option-a\.scss}line{font-family:\0000339}}
.option-a a {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_option-a\.scss}line{font-family:\0000348}}
.option-a .navigation li {
  font-family: Trebuchet MS;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_option-a\.scss}line{font-family:\0000354}}
.option-a span.label {
  text-transform: uppercase;
  font-family: helvetica;
  font-size: 11px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_option-a\.scss}line{font-family:\0000360}}
.option-a .brand-attributes ul li {
  font-family: "Varela Round";
  color: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_option-a\.scss}line{font-family:\0000365}}
.option-a .masthead {
  background-image: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_option-a\.scss}line{font-family:\0000370}}
.option-a .logo {
  background-image: url("../images/logo.png") !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_option-b\.scss}line{font-family:\0000315}}
.option-b h1, .option-b h2, .option-b h3, .option-b h4, .option-b h5, .option-b h6 {
  font-family: helvetica;
  color: #181818;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_option-b\.scss}line{font-family:\0000321}}
.option-b h1 {
  font-size: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_option-b\.scss}line{font-family:\0000325}}
.option-b h2 {
  font-size: 21px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_option-b\.scss}line{font-family:\0000329}}
.option-b .font-info {
  font-family: helvetica;
  color: green;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_option-b\.scss}line{font-family:\0000334}}
.option-b p {
  font-family: helvetica;
  color: #181818;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_option-b\.scss}line{font-family:\0000339}}
.option-b a {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_option-b\.scss}line{font-family:\0000348}}
.option-b .navigation li {
  font-family: Trebuchet MS;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_option-b\.scss}line{font-family:\0000354}}
.option-b span.label {
  text-transform: uppercase;
  font-family: helvetica;
  font-size: 11px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_option-b\.scss}line{font-family:\0000360}}
.option-b .brand-attributes ul li {
  font-family: "Varela Round";
  color: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_option-b\.scss}line{font-family:\0000365}}
.option-b .masthead {
  background-image: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_option-b\.scss}line{font-family:\0000370}}
.option-b .logo {
  background-image: url("../images/logo.png") !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_option-c\.scss}line{font-family:\0000315}}
.option-c h1, .option-c h2, .option-c h3, .option-c h4, .option-c h5, .option-c h6 {
  font-family: helvetica;
  color: #181818;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_option-c\.scss}line{font-family:\0000321}}
.option-c h1 {
  font-size: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_option-c\.scss}line{font-family:\0000325}}
.option-c h2 {
  font-size: 21px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_option-c\.scss}line{font-family:\0000329}}
.option-c .font-info {
  font-family: helvetica;
  color: green;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_option-c\.scss}line{font-family:\0000334}}
.option-c p {
  font-family: helvetica;
  color: #181818;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_option-c\.scss}line{font-family:\0000339}}
.option-c a {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_option-c\.scss}line{font-family:\0000348}}
.option-c .navigation li {
  font-family: Trebuchet MS;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_option-c\.scss}line{font-family:\0000354}}
.option-c span.label {
  text-transform: uppercase;
  font-family: helvetica;
  font-size: 11px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_option-c\.scss}line{font-family:\0000360}}
.option-c .brand-attributes ul li {
  font-family: "Varela Round";
  color: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_option-c\.scss}line{font-family:\0000365}}
.option-c .masthead {
  background-image: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/_option-c\.scss}line{font-family:\0000370}}
.option-c .logo {
  background-image: url("../images/logo.png") !important;
}

@font-face {
  font-family: "Klinic Slab Bold";
  src: url("../fonts/klinic-slab/klinicslabbold-webfont.eot");
  /* IE9 Compat Modes */
  src: local("☺"), url("../fonts/klinic-slab/klinicslabbold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/klinic-slab/klinicslabbold-webfont.woff") format("woff"), url("../fonts/klinic-slab/klinicslabbold-webfont.ttf") format("truetype"), url("../fonts/klinic-slab/klinicslabbold-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Klinic Slab Medium";
  src: url("../fonts/klinic-slab/klinicslabmedium-webfont.eot");
  /* IE9 Compat Modes */
  src: local("☺"), url("../fonts/klinic-slab/klinicslabmedium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/klinic-slab/klinicslabmedium-webfont.woff") format("woff"), url("../fonts/klinic-slab/klinicslabmedium-webfont.ttf") format("truetype"), url("../fonts/klinic-slab/klinicslabmedium-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Klinic Slab Book";
  src: url("../fonts/klinic-slab/klinicslabbook-webfont.eot");
  /* IE9 Compat Modes */
  src: local("☺"), url("../fonts/klinic-slab/klinicslabbook-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/klinic-slab/klinicslabbook-webfont.woff") format("woff"), url("../fonts/klinic-slab/klinicslabbook-webfont.ttf") format("truetype"), url("../fonts/klinic-slab/klinicslabbook-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "News Cycle Bold";
  src: url("../fonts/news-cycle/newscycle-bold-webfont.eot");
  /* IE9 Compat Modes */
  src: local("☺"), url("../fonts/news-cycle/newscycle-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/news-cycle/newscycle-bold-webfont.woff") format("woff"), url("../fonts/news-cycle/newscycle-bold-webfont.ttf") format("truetype"), url("../fonts/news-cycle/newscycle-bold-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "News Cycle Regular";
  src: url("../fonts/news-cycle/newscycle-regular-webfont.eot");
  /* IE9 Compat Modes */
  src: local("☺"), url("../fonts/news-cycle/newscycle-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/news-cycle/newscycle-regular-webfont.woff") format("woff"), url("../fonts/news-cycle/newscycle-regular-webfont.ttf") format("truetype"), url("../fonts/news-cycle/newscycle-regular-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Varela Round";
  src: url("../fonts/varela-round/varelaround-regular-webfont.eot");
  /* IE9 Compat Modes */
  src: local("☺"), url("../fonts/varela-round/varelaround-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/varela-round/varelaround-regular-webfont.woff") format("woff"), url("../fonts/varela-round/varelaround-regular-webfont.ttf") format("truetype"), url("../fonts/varela-round/varelaround-regular-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: bold;
  font-style: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\0000334}}
.wrapper {
  background-color: #dddddd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\0000335}}
.style-tile {
  background-color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\0000336}}
.masthead {
  background-color: #d0d0d0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\0000337}}
.logo {
  background-color: #c4c4c4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\0000338}}
.color {
  background-color: #dddddd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\0000339}}
.texture {
  background-color: #dddddd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\0000342}}
#top-bar {
  position: fixed;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 8%;
  padding: 1em;
  background-color: #231d1e;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\0000351}}
#top-bar span {
  display: inline-block;
  color: white;
  font-family: Trebuchet MS, sans-serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\0000357}}
#top-bar .company-name {
  opacity: .6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\0000361}}
#top-bar .option-name {
  -webkit-transition: -webkit-transform 300ms linear;
  -moz-transition: -moz-transform 300ms linear;
  -o-transition: -o-transform 300ms linear;
  transition: transform 300ms linear;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\0000366}}
a#back-to-project {
  position: absolute;
  display: block;
  top: 50%;
  right: 2em;
  height: 30px;
  margin-top: -15px;
  border: 3px solid transparent;
  color: white;
  -webkit-transition: border 300ms linear;
  -moz-transition: border 300ms linear;
  -o-transition: border 300ms linear;
  transition: border 300ms linear;
  text-decoration: none;
  font-family: Trebuchet MS;
  font-size: 13px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\0000381}}
a#back-to-project:hover {
  border-bottom: 3px solid #ffcd00;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\0000386}}
.option-anim-hidden {
  -webkit-transform: scaleX(2) rotateY(-90deg);
  -moz-transform: scaleX(2) rotateY(-90deg);
  -ms-transform: scaleX(2) rotateY(-90deg);
  -o-transform: scaleX(2) rotateY(-90deg);
  transform: scaleX(2) rotateY(-90deg);
  perspective: 500px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\0000391}}
.side-controls {
  position: fixed;
  top: 50%;
  width: 60px;
  height: 300px;
  margin-top: -150px;
  background-color: #231d1e;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: .4;
  -webkit-transition: opacity 230ms ease;
  -moz-transition: opacity 230ms ease;
  -o-transition: opacity 230ms ease;
  transition: opacity 230ms ease;
  z-index: 10;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\00003104}}
.side-controls:hover {
  opacity: .8;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\00003109}}
#prev-button {
  left: 0;
  background-image: url("../images/button-prev.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\00003114}}
#next-button {
  right: 0;
  background-image: url("../images/button-next.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\00003119}}
span.label {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\00003124}}
#style-viewer {
  position: fixed;
  top: 8%;
  left: 0;
  width: 100%;
  height: 92%;
  -webkit-transition: left 1s ease-in-out;
  -moz-transition: left 1s ease-in-out;
  -o-transition: left 1s ease-in-out;
  transition: left 1s ease-in-out;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\00003133}}
iframe {
  width: 100%;
  height: 100%;
  z-index: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\00003139}}
iframe {
  position: absolute;
  top: 0;
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\00003144}}
iframe.tile-2 {
  left: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\00003148}}
iframe.tile-3 {
  left: 200%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\00003152}}
iframe.tile-4 {
  left: 300%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\00003156}}
iframe.tile-5 {
  left: 400%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\00003160}}
iframe.tile-6 {
  left: 500%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\00003164}}
iframe.tile-7 {
  left: 600%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\00003168}}
iframe.tile-8 {
  left: 700%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\00003172}}
iframe.tile-9 {
  left: 800%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\00003177}}
.wrapper {
  width: 100%;
  padding: 60px 0;
  background-position: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\00003183}}
.style-tile {
  width: 800px;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\00003188}}
.masthead {
  position: relative;
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0 2em 2em 2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\00003195}}
.masthead .logo {
  position: relative;
  float: left;
  width: 200px;
  height: 200px;
  margin-bottom: 2em;
  background-position: center center;
  background-repeat: no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\00003206}}
.navigation {
  clear: both;
  width: 100%;
  margin: 4em 0;
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\00003212}}
.navigation li {
  float: left;
  margin-right: 1.5em;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\00003219}}
.padded-area {
  padding: 2em;
  overflow: hidden;
  *zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\00003224}}
.typography {
  float: left;
  width: 70%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\00003228}}
.typography h1 {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\00003232}}
.typography .font-info {
  display: block;
  margin-bottom: .8em;
  font-size: .8em;
  opacity: .6;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\00003240}}
.color-palette {
  float: right;
  width: 20%;
  margin-right: 1em;
  padding: 10px;
  overflow: hidden;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\00003247}}
.color-palette .color {
  width: 90%;
  height: 50px;
  margin: 0 1px 1em 1px;
  border: .5em solid white;
  outline: 1px solid #e6e6e6;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\00003256}}
.texture-palette {
  clear: both;
  width: 100%;
  padding: 2px 0;
  overflow: hidden;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\00003262}}
.texture-palette .texture {
  float: left;
  width: 150px;
  height: 150px;
  margin: 0 1em 0 1px;
  border: .5em solid white;
  outline: 1px solid #dddddd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\00003272}}
.brand-attributes {
  clear: both;
  margin-top: 2em;
  padding-bottom: 1em;
  overflow: hidden;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\00003278}}
.brand-attributes ul {
  margin: 0;
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/styletiles\/library\/scss\/screen\.scss}line{font-family:\00003282}}
.brand-attributes ul li {
  float: left;
  margin-right: 1em;
  font-size: 2em;
  color: #dddddd;
}
