# Server type - eg. Apache or Nginx
SERVER_TYPE=nginx

# Define various environment url bases
LOCAL_URL_BASE=yb
PREVIEW_URL_BASE=preview.yellowberri.com
STAGING_URL_BASE=staging.yellowberri.com

# Location of sublime text projects dir
SUBLIMETEXTPROJECTS_DIR="$HOME/Sites/sublime_projects"

# Secret code for use in encoding some strings (keep it to like 4 or 5 characters, please)
SECRET_CODE=0438

# Production & Staging Credential
STAGING_HOST=166.78.9.244
STAGING_SSH_USER=root
STAGING_SSH_PASS=LogMe1n234
STAGING_OWNER=serverpilot
STAGING_GROUP=serverpilot
PROD_HOST=166.78.134.12
PROD_SSH_USER=root
PROD_SSH_PASS=LogMe1n234
PROD_OWNER=serverpilot
PROD_GROUP=serverpilot

# Git server credentials
GITUSER=yellowberri
GITPASS=Yellowberri420!

# ServerPilot API Credentials
CLIENTID=cid_GL1JgvMkgxxQ4RiB
APIKEY=iRG4x0IkYLhDl34KczJIX2hguQOlHg1yxZ95DSWlCKU
PROD_SYSID=WLidezqHplyvzl0l
STAGING_SYSID=fNkI7dp8EZbRwxnI

# Local database credentials
LOCAL_DB_USER=root
LOCAL_DB_PASS=root

# Set the suffix for live database passwords
LIVE_DB_PASS_PREFIX=LogMe1n

# Site administrator email address
ADMIN_EMAIL=shelby@yellowberri.com

# Now, let's set some directory variables
SITES_DIR="$HOME/Sites" # Main working directory for all sites
WPINIT_DIR="$HOME/Sites/wpinit" # Location of this script on your computer

# Location of MySQL database files
DB_DIR="/usr/local/mysql/data"

# Location of MySQL bin files
MYSQL_BIN="/usr/local/mysql/bin"

# Location of vhosts dir
VHOSTS_DIR="/private/etc/apache2/extra/vhosts"

# Location of logs dir
LOGS_DIR="/private/var/log/apache2"

# Location of Apache bin
APACHE_DIR="/usr/sbin"

# Owner/Group name (To find out: <?php echo(exec("whoami")); ?>)
OWNER="stupid"
GROUP="staff"

# Config file paths
WPCONFIGFILE=$SITES_DIR/$project_id/web/wp-config.php
WPLOYCONFIGFILE=$SITES_DIR/$project_id/web/wploy.config
GRUNTFILE=$SITES_DIR/$project_id/web/Gruntfile.js
GRUNTPACKAGEFILE=$SITES_DIR/$project_id/web/package.json
