# Server type - eg. Apache or Nginx
SERVER_TYPE='nginx'

# Whether to write to local etc/hosts file.
WRITE_HOSTS='true'

# Define various environment url bases
LOCAL_URL_BASE='yb'
PREVIEW_URL_BASE='preview.yellowberri.com'
STAGING_URL_BASE='staging.yellowberri.com'

# Location of sublime text projects dir
SUBLIMETEXTPROJECTS_DIR="$HOME/Sites/sublime_projects"

# Production & Staging Credential
STAGING_HOST='45.55.77.8'
STAGING_SSH_USER='root'
STAGING_SSH_PASS='486039rkOixdfkfkPs$2'
PROD_HOST='104.236.68.55'
PROD_SSH_USER='root'
PROD_SSH_PASS='32jxVYkwaleqntbacb-:'

# ServerPilot API Credentials
CLIENTID='cid_GL1JgvMkgxxQ4RiB'
APIKEY='sfBuF9sX0peEOdTa5SL0Iu9R1dha6xYTXUBfiOGeGBY'
PROD_SYSID='f28ejWDbFP4mXEWE'
STAGING_SYSID='lo9Qk7RurLfdas3l'

# Local database credentials
LOCAL_DB_USER='root'
LOCAL_DB_PASS='root'

# Site administrator email address
ADMIN_EMAIL='shelby@yellowberri.com'

# Now, let's set some directory variables
SITES_DIR="$HOME/Sites" # Main working directory for all sites
WPINIT_DIR="$HOME/Sites/wpinit" # Location of this script on your computer

# Location of MySQL database files
DB_DIR="/usr/local/mysql/data"

# Location of MySQL bin files
MYSQL_BIN="/usr/local/mysql/bin"

# Location of vhosts dir
VHOSTS_DIR="/private/etc/apache2/extra/vhosts"

# Location of logs dir
LOGS_DIR="/private/var/log/apache2"

# Location of Apache bin
APACHE_DIR="/usr/sbin"

# Owner/Group name (To find out: <?php echo(exec('whoami')); ?>)
OWNER='stupid'
GROUP='staff'

# Config file paths
WPCONFIGFILE="$SITES_DIR/$project_id/web/wp-config.php"
WPLOYCONFIGFILE="$SITES_DIR/$project_id/web/wploy.config"
GRUNTFILE="$SITES_DIR/$project_id/web/Gruntfile.js"
GRUNTPACKAGEFILE="$SITES_DIR/$project_id/web/package.json"
