/* breakpoints */
@mixin breakpoint($point) {
	@if $point == mobile { @media screen and (max-width: $mobileColumn) { @content } }
	@if $point == narrowColumn { @media screen and (max-width: $narrowColumn) { @content } }
	@if $point == multiColumn { @media screen and (min-width: $multiColumn){ @content } }
	@if $point == max { @media screen and (min-width: $maxColumn){ @content } }
}

.break-indicator {
	position: fixed;
	top: 5px;
	left: 5px;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	z-index: 9999;
	background-color: white;
	@include breakpoint( mobile ) { background-color: red; }
	@include breakpoint( narrowColumn ) { background-color: yellow; }
	@include breakpoint( multiColumn ) { background-color: green; }
	@include breakpoint( max ) {background-color: purple; }
}
