$palette1-1: #c50c12;
$palette1-2: #621d16;
$palette1-3: #eee;
$palette1-4: #6e8479;
$palette1-5: darken(#252525,5%);

.option-a {
	background:url('../images/gridme.jpg');

	::selection {
		background: lighten($palette1-1, 50%);
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: "Klinic Slab Bold";
		color:$palette1-5;
	}

	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 24px;
	}

	p {
		font-family: Georgia, serif;
	}

	a {
		color:$palette1-1;
		font-weight: bold;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

		&:visited {
			color:$palette1-2;
		}
	}

	span.label {
		font-family: "Klinic Slab Bold";
		text-transform: uppercase;
	}

	#style-tile {
		border: 1px solid lighten($palette1-4,35%);
	}

	.masthead {
		background-color: $palette1-1;
	}

	.logo {
		height:170px !important;
		background-color: $palette1-5;
	}

	.uofl-logo {

		.bottom {
			margin-top:120px;
			display:block !important;
		}
	}

	.logo-banner {
		position:absolute;
		bottom:-20px;
		left:0;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 20px 100px 0 100px;
		border-color: $palette1-5 transparent transparent transparent;
	}

	.navigation {
		margin:1em !important;
	}

	.navigation li {
		font-family: "Klinic Slab Bold";
		text-transform: uppercase;
		color:white;

		&:hover {
			border-bottom: 2px solid $palette1-2;
		}
	}

	.color-one {
		background-color: $palette1-1;
	}

	.color-two {
		background-color: $palette1-2;
	}

	.color-three {
		background-color: $palette1-3;
	}

	.color-four {
		background-color: $palette1-4;
	}

	.color-five {
		background-color: $palette1-5;
	}

	.texture-one {
		background-image: url(../images/tartan.png);
	}

	.texture-two {
		background-image: url('../images/red-gradient.png');
	}

	.texture-three {
		background-image: url('../images/gridme.jpg');
	}

	.brand-attributes ul li {
		font-family: "Klinic Slab Bold";
		font-size: 2em;
		color:$palette1-2;
	}
}