@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {

	#header-searchform input {
		background-image: url(../_images/search@2x.png);
		@include background-size(16px 16px);
	}

	#header-cart {
		background-image: url(../_images/cart@2x.png);
		@include background-size(16px 16px);
	}

	.accordion .accordion-title a{
		background-image:url(../_images/accordion-open@2x.png);
		@include background-size(39px 80px);
	}
	.accordion .accordion-title.active a{
		background-image:url(../_images/accordion-close@2x.png);
		@include background-size(39px 80px);
	}
	.toggle .toggle-title span{
		background-image:url(../_images/accordion-open@2x.png);
		@include background-size(39px 80px);
	}
	.toggle .toggle-title.active span{
		background-image:url(../_images/accordion-close@2x.png);
		@include background-size(39px 80px);
	}
	.sidenav li a, .widget_wp_nav_menu_desc li a{
		background-image:url(../_images/arrow5@2x.png);
		@include background-size(7px 11px);
	}
	.sidenav li.current_page_item a, .sidenav li.current_page_item a:hover,
	.widget_wp_nav_menu_desc li.current_page_item a, .widget_wp_nav_menu_desc li.current_page_item a:hover{
		background-image:url(../_images/arrow5_white@2x.png);
		@include background-size(7px 11px);
	}
	#back-to-top a{
		background-image:url(../_images/backtotop@2x.png);
		@include background-size(15px 10px);
	}
	#alt-title .grid{
		background-image:url(../_images/grid@2x.png);
		@include background-size(2px 2px);
	}
	.close-infobar:after, .close-infobar.open:after{
		background-image:url(../_images/toggle@2x.png);
		@include background-size(80px 40px);
	}
	.post-quote{
		background-image:url(../_images/quote@2x.png);
		@include background-size(21px 17px);
	}
	.widget_search input{
		background-image:url(../_images/search@2x.png);
		@include background-size(13px 13px);
	}
	.projects-nav .next a, .post-navigation .next a, .flex-direction-nav .flex-next {
		background-image:url(../_images/slider-next@2x.png);
		@include background-size(10px 15px);
	}
	.projects-nav .prev a, .post-navigation .prev a, .flex-direction-nav .flex-prev{
		background-image:url(../_images/slider-prev@2x.png);
		@include background-size(10px 15px);
	}
	.testimonial:after{
		background-image:url(../_images/testimonials@2x.png);
		@include background-size(22px 22px);
	}
	// .widget_twitter ul li, .widget_tp_widget_recent_tweets ul li{
	// 	background:url(../_images/twitter@2x.png) no-repeat !important;
	// 	@include background-size(22px 18px !important);
	// }
	#related-posts ul li, #sidebar .widget ul li, #footer .widget ul li, #infobar .widget ul li {
		background-image:url(../_images/arrow4@2x.png);
		@include background-size(5px 5px);
	}

	[class^="icon-"],
	[class*=" icon-"] {
		background-image: url(../_images/glyphicons-halflings@2x.png);
		@include background-size(469px 159px);
	}

	a.button.black i,
	a.button.alternative-1 i,
	a.button.alternative-2 i,
	a.button.alternative-3 i,
	.icon-white,
	.nav > .active > a > [class^="icon-"],
	.nav > .active > a > [class*=" icon-"],
	.dropdown-menu > li > a:hover > [class^="icon-"],
	.dropdown-menu > li > a:hover > [class*=" icon-"],
	.dropdown-menu > .active > a > [class^="icon-"],
	.dropdown-menu > .active > a > [class*=" icon-"] {
		background-image: url(../_images/glyphicons-halflings-white@2x.png);
		@include background-size(469px 159px);
	}

	.social-twitter a { background-image: url(../_images/social-icons/twitter@2x.png); @include background-size(40px 80px); }
	.social-facebook a { background-image: url(../_images/social-icons/facebook@2x.png); @include background-size(40px 80px); }
	.social-instagram a { background-image: url(../_images/social-icons/instagram@2x.png); @include background-size(40px 80px); }
	.social-youtube a { background-image: url(../_images/social-icons/youtube@2x.png); @include background-size(40px 80px); }
	.social-googleplus a { background-image: url(../_images/social-icons/googleplus@2x.png); @include background-size(40px 80px); }
	.social-forrst a { background-image: url(../_images/social-icons/forrst@2x.png); @include background-size(40px 80px); }
	.social-dribbble a { background-image: url(../_images/social-icons/dribbble@2x.png); @include background-size(40px 80px); }
	.social-flickr a { background-image: url(../_images/social-icons/flickr@2x.png); @include background-size(40px 80px); }
	.social-skype a { background-image: url(../_images/social-icons/skype@2x.png); @include background-size(40px 80px); }
	.social-digg a { background-image: url(../_images/social-icons/digg@2x.png); @include background-size(40px 80px); }
	.social-linkedin a { background-image: url(../_images/social-icons/linkedin@2x.png); @include background-size(40px 80px); }
	.social-vimeo a { background-image: url(../_images/social-icons/vimeo@2x.png); @include background-size(40px 80px); }
	.social-yahoo a { background-image: url(../_images/social-icons/yahoo@2x.png); @include background-size(40px 80px); }
	.social-tumblr a { background-image: url(../_images/social-icons/tumblr@2x.png); @include background-size(40px 80px); }
	.social-deviantart a { background-image: url(../_images/social-icons/deviantart@2x.png); @include background-size(40px 80px); }
	.social-behance a { background-image: url(../_images/social-icons/behance@2x.png); @include background-size(40px 80px); }
	.social-pinterest a { background-image: url(../_images/social-icons/pinterest@2x.png); @include background-size(40px 80px); }
	.social-delicious a { background-image: url(../_images/social-icons/delicious@2x.png); @include background-size(40px 80px); }
	.social-rss a { background-image: url(../_images/social-icons/rss@2x.png); @include background-size(40px 80px); }
	.social-email a { background: url(../_images/social-icons/email@2x.png); @include background-size(40px 80px); }

}