/* Revolution Slider ---------------------------------------------------- */

.tp-bannershadow { opacity: 0.7 }

/*.rev_slider {
    display: block !important;
    overflow: hidden !important;
    -webkit-border-radius: 6px !important;
       -moz-border-radius: 6px !important;
       		border-radius: 6px !important;
}

.fullwidthbanner-container .rev_slider {
    -webkit-border-radius: 0px !important;
       -moz-border-radius: 0px !important;
    		border-radius: 0px !important;
}*/

.tp-leftarrow.default {
	background: rgba(20,20,20,0.5) url(../_images/slider-prev.png) !important;
	background-repeat: no-repeat !important;
	background-position: 45% 50% !important;
	width: 44px !important;
	height: 56px !important;
	@include border-radius(0 3px 3px 0 !important);
}
.tp-rightarrow.default {
	background: rgba(20,20,20,0.5) url(../_images/slider-next.png) !important;
	background-repeat: no-repeat !important;
	background-position: 53% 50% !important;
	width: 44px !important;
	height: 56px !important;
	@include border-radius(3px 0 0 3px !important);
}

.tp-leftarrow:hover,
.tp-rightarrow:hover {	background-color: #2da0ce !important; }

.tp-bullets.simplebullets.round-old .bullet	{
	cursor:pointer !important;
	position:relative !important;
	background: rgba(black,0.5) !important;
	width:13px !important;
	height:13px !important;
	margin-right:6px !important;
	float:left !important;
	margin-top:-12px !important;
	@include border-radius(50% !important);
}

.tp-bullets.simplebullets.round-old .bullet:hover,
.tp-bullets.simplebullets.round-old .bullet.selected { background:rgba(0,0,0,0.8) !important; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {

	.tp-leftarrow.default	{
		background-image:url(../_images/slider-prev@2x.png) !important;
		@include background-size(10px 15px);
	}
	.tp-rightarrow.default {
		background-image:url(../_images/slider-next@2x.png) !important;
		@include background-size(10px 15px);
	}

}
.tp-caption.big_color {
	color: $pgen_orange;
}
.tp-caption.medium_colorbg {
	background: $pgen_orange;
}
.tp-leftarrow:hover, .tp-rightarrow:hover {
	background-color: $pgen_orange !important;
}