#pagination {
	margin: 30px 0;
}
.allpages {
	float: left;
	margin-right: 10px;
}
.page-navigation {
	ol {
		li {
			float: left;
			margin-right: 5px;
			line-height: 20px;
			&:last-of-type {
				margin-right: 0;
			}
			&.current {
				padding: 5px;
				background: $light-grey;
			}
			a {
				background: $button-color;
				color: $button-text-color;
				padding: 5px;
				display: block;
				text-decoration: none;
				transition: all $trans-speed;
				&:hover {
					background: lighten($button-color, 10%);
				}
			}
		}
	}
}
