/* ------------------------------------------------------------------------ */
/* Default Colors */
/* ------------------------------------------------------------------------ */

$white: white;
$black: black;
$off-black: #222;
$light-grey: #ddd;
$dark-grey: #555;

/* ------------------------------------------------------------------------ */
/* Project Colors */
/* ------------------------------------------------------------------------ */

$project-red: red;

/* ------------------------------------------------------------------------ */
/* Theme Colors */
/* ------------------------------------------------------------------------ */

$accent-color: #009933;

$main-bg-color: white;
$body-font-color: #555;
$footer-color: #444;
$footer-text-color: #999;

$mobilemenu-bg-color:#c4c4c4;
$mobilemenu-button-color: $accent-color;
$mobilemenu-button-text-color: black;
$mobilemenu-close-button-color: white;

$button-color: $accent-color;
$button-text-color: white;
$button-alt-color: $dark-grey;
$button-alt-text-color: white;

/*
$alert-color-info: #468bbf;
$alert-color_warning: #efd877;
$alert-color_success: #88b12b;
$alert-color_error: #d25c5a;
*/