/* global settings */
$border-radius: 10px;
$trans-speed: 200ms;
$trans-ease: ease;

/* typography */
$base-font-size: 16;
$line: 24;

$display-font: "Open Sans", sans-serif;
$display-font-weight: 700;
$copy-font: verdana, sans-serif;
$icons: entypo;

/* button style settings */
$global_btn_style: 'flat';
$has_alt_btn_color: true;

/* responsive breakpoint settings */
$mobileColumn: (400 / $base-font-size) * 1em;
$narrowColumn: (720 / $base-font-size) * 1em;
$multiColumn: (1080 / $base-font-size) * 1em;
$maxColumn: (1600 / $base-font-size) * 1em;

$mainWidth: $narrowColumn;
$multiWidth: $multiColumn;
$maxWidth: $maxColumn;
$narrowWidth: 95%;
$mobileWidth: 90%;

/* grid settings */
$totalCols: 16;
$gutter: 5%;
$columnWidth: ((100 - ($gutter * ($totalCols))) / $totalCols);