@charset "UTF-8";
/* RESET
----------------------------------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003107}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003118}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003123}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003129}}
q, blockquote {
  quotes: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003132}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003137}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003141}}
img, object {
  outline: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003143}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* ==== global settings ==== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003150}}
html {
  overflow-y: scroll;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003154}}
img, embed, object, video {
  max-width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003155}}
.ie6 img.full, .ie6 object.full, .ie6 embed, .ie6 video {
  width: 100%;
}

/* maxvoltar.com/archive/-webkit-font-smoothing */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003159}}
html {
  -webkit-font-smoothing: antialiased;
}

/* CORE TYPOGRAPHY
----------------------------------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003164}}
body {
  font-size: 1em;
  line-height: 1.618em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003169}}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.809em;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003174}}
h1 {
  font-size: 1.5em;
  /* 24px --> 24 ÷ 16 = 1.5 */
  line-height: 1em;
  /* 24px --> 24 ÷ 24 = 1 */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003179}}
h2 {
  font-size: 1.375em;
  /* 22px --> 22 ÷ 16 = 1.375 */
  line-height: 1.0909em;
  /* 24px --> 24 ÷ 22 = 1.090909(09) */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003184}}
h3 {
  font-size: 1.25em;
  /* 20px --> 20 ÷ 16 = 1.25 */
  line-height: 1.2em;
  /* 24px --> 24 ÷ 20 = 1.2 */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003189}}
h4 {
  font-size: 1.125em;
  /* 18px --> 18 ÷ 16 = 1.125 */
  line-height: 1.333em;
  /* 24px --> 24 ÷ 18 = 1.3333333(3) */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003194}}
h5, h6 {
  font-size: 1em;
  /* 16px --> 16 ÷ 16 = 1 */
  line-height: 1.5em;
  /* 24px --> 24 ÷ 16 = 1.5 */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003199}}
p, ul, ol, dl, blockquote {
  font-size: 1em;
  line-height: 1.618em;
  margin-bottom: 1.618em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003205}}
ul {
  list-style-type: disc;
  margin-left: 1.618em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003206}}
ol {
  list-style-type: decimal;
  margin-left: 1.618em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003207}}
nav ul, nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003209}}
b, strong {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003210}}
i, em {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003211}}
small {
  font-size: 80%;
}

/* LINKS
----------------------------------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003215}}
a, a:visited {
  outline: none;
  color: #439BBD;
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003216}}
a:hover {
  outline: none;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003217}}
a:active, a:focus {
  outline: none;
}

/* BROWSER AND NON-SEMANTIC STYLING
----------------------------------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003221}}
.cf:before, .cf:after {
  content: "";
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003222}}
.cf:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003223}}
.ie6 .cf {
  zoom: 1;
}

/* align checkboxes, radios, text inputs with their label */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003226}}
input[type="radio"] {
  vertical-align: text-bottom;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003227}}
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003228}}
.ie6 input {
  vertical-align: text-bottom;
}

/* hand cursor on clickable input elements */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003231}}
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* bicubic resizing for non-native sized IMG:
code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003235}}
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* ==== common classes ==== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003239}}
.clear {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003243}}
.iepie {
  behavior: url(/wp-content/themes/ybbase/PIE.htc);
}

/* Hide for both screenreaders and browsers: h5bp.com/m */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003248}}
.hidden {
  display: none !important;
  visibility: hidden;
}

/*  Hide only visually, but have it available for screenreaders: h5bp.com/v */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003251}}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003254}}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003257}}
.invisible {
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003259}}
.fltlft {
  float: left;
  display: inline;
  margin-right: 1.618em;
  margin-bottom: 1.618em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003265}}
.fltrt {
  float: right;
  display: inline;
  margin-left: 1.618em;
  margin-bottom: 1.618em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003271}}
.hasPlaceholder {
  color: #777;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003275}}
li.dropMenu {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003277}}
li.dropMenu ul {
  position: absolute;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003282}}
.empty {
  color: #aaa;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003284}}
.placeholder {
  color: #aaa;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003288}}
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/*
* print styles
* inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/
*/
@media print {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003297}}
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003298}}
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* Don't show links for images */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003300}}
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003301}}
  img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003303}}
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/_base\.scss}line{font-family:\00003304}}
  h2, h3 {
    page-break-after: avoid;
  }
}
/* === breakpoints ==== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/screen\.scss}line{font-family:\0000342}}
#media-query {
  position: fixed;
  top: 5px;
  left: 5px;
  height: 10px;
  width: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 999;
  background-color: blue;
}
@media screen and (min-width: 56.618em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/screen\.scss}line{font-family:\0000342}}
  #media-query {
    background-color: green;
  }
}
@media screen and (max-width: 33em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/screen\.scss}line{font-family:\0000342}}
  #media-query {
    background-color: red;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/screen\.scss}line{font-family:\0000362}}
#wrapper, #footer-inner {
  position: relative;
  margin: 0 auto;
  width: 500px;
}
@media screen and (min-width: 56.618em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/screen\.scss}line{font-family:\0000362}}
  #wrapper, #footer-inner {
    width: 800px;
  }
}
@media screen and (max-width: 33em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/screen\.scss}line{font-family:\0000362}}
  #wrapper, #footer-inner {
    width: 95%;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/screen\.scss}line{font-family:\0000376}}
html {
  position: relative;
  width: 100%;
  font-size: 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/screen\.scss}line{font-family:\0000390}}
#main {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/screen\.scss}line{font-family:\0000394}}
#container {
  position: relative;
  width: 100%;
  background-color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/screen\.scss}line{font-family:\00003100}}
div#site-title, h1#site-title {
  display: block;
  float: left;
  width: 200px;
  margin-bottom: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/screen\.scss}line{font-family:\00003106}}
div#site-title a, h1#site-title a {
  text-align: center;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/screen\.scss}line{font-family:\00003112}}
nav.main {
  margin-bottom: 4em;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/screen\.scss}line{font-family:\00003116}}
nav.main ul {
  overflow: hidden;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/screen\.scss}line{font-family:\00003119}}
nav.main ul li {
  float: left;
  margin-right: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/screen\.scss}line{font-family:\00003123}}
nav.main ul li:last-of-type {
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/screen\.scss}line{font-family:\00003127}}
nav.main ul li a {
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/screen\.scss}line{font-family:\00003133}}
nav.main ul li a:hover {
  border-bottom: 3px solid #439bbd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/screen\.scss}line{font-family:\00003144}}
.ph-text {
  position: relative;
  background-color: #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/screen\.scss}line{font-family:\00003148}}
.ph-text span {
  position: absolute;
  bottom: 1em;
  left: 1em;
  color: white;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/screen\.scss}line{font-family:\00003157}}
footer {
  background-color: #cccccc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/screen\.scss}line{font-family:\00003161}}
#footer-inner {
  padding: 3em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/screen\.scss}line{font-family:\00003165}}
.footer-info {
  width: 100%;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/screen\.scss}line{font-family:\00003169}}
.footer-info span.copy {
  float: left;
}
@media screen and (max-width: 33em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yellowberri_admin\/Sites\/wpinit\/design\/wireframes\/library\/scss\/screen\.scss}line{font-family:\00003169}}
  .footer-info span.copy {
    float: none;
  }
}
