# Define various environment connection credentials

##LOCAL
l_host="localhost"
l_ssh_user="null"
l_ssh_pass="null"
l_db=""
l_db_user=""
l_db_pass=""
l_path=""
l_url=""
l_owner=""
l_group=""

##STAGING
s_host=""
s_ssh_user=""
s_ssh_pass=""
s_db=""
s_db_user=""
s_db_pass=""
s_path=""
s_url=""
s_owner=""

##PRODUCTION
p_host=""
p_ssh_user=""
p_ssh_pass=""
p_db=""
p_db_user=""
p_db_pass=""
p_path=""
p_url=""
p_owner=""
