/*==== footer styles ====*/
.site-footer {
	color: $footer-text-color;

	@include breakpoint(narrow) { background-color: $footer-color; }
	& > .container {
		padding: 3em 0;
	}

	a {
		color:#999999;
		&:hover {
			color: $white;
		}
	}

	.widget {
		margin-top: 1em;
		margin-bottom: 2em;
		@include breakpoint(narrow) {
			margin-bottom: 0;
			&:last-of-type {
				margin-bottom: 2em;
			}
		}

		h3 {
			font-size:15px;
			color: $white;
			padding: 0 0 5px;
			border-bottom:1px solid $dark-grey;
			margin: 0 0 20px;
		}

		ul {
			margin-bottom: 0;
		}

		&.widget-nav-menu {
			ul {
				list-style: none;
				margin-left: 0;

				li {
					list-style: none;
				}
			}
		}
		&.widget_portfolio .portfolio-widget-item {
			.portfolio-pic {
				border: 1px solid $off-black;
				padding: 4px;
				background: $off-black;
				box-shadow: none;

				&:hover {
					background: $accent-color;
					border-color: $accent-color;
				}
			}
		}
	}
}

#site-footer-nav {
	padding: 1em 0;

	ul#menu-footer-navigation {
		@extend %clearfix;

		li {
			float: left;
			margin-right: 30px;

			&:last-of-type { margin-right: 0; }

			@include breakpoint(narrow) { width: 100%; }
		}
	}
}


.copyright-text {
	color: $footer-text-color;
	padding:1em 0;
	a {
		color: #888888;
		&:hover { color: $white; }
	}
	@include breakpoint(narrow) {
		text-align: center;
	}
}

#back-to-top {
	text-align: center;
}

/* Contact Widget /--------------------------------------------------------- */

.widget_contact address {    font-style: normal }

.widget_contact address span {    display: block }

.widget_contact address span strong {
	display: inline-block;
	width: 30%;
}

// end footer styles
