/* ==== grid settings defined in _global.scss ====*/

.container {
	position: relative;
	margin: 0 auto;
	/* width: $mainWidth; */
	width: 100%;
	@include breakpoint(wide) {
		width: $wide-width;
	}
	@include breakpoint(max) {
		width: $max-width;
	}
	@include breakpoint(narrow) {
		width: $narrow-width;
		margin: 0 auto;
	}
	@include breakpoint(mobile) {
		width: $mobile-width;
	}
	/* Self Clearing Goodness */
	&:after {
		content: "\0020";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

.container.full-width,
#page-wrap.full-width .container,
.full-width #page-wrap .container,
.full-width #title .container,
.full-width #site-masthead .container,
.full-width #footer .container { width: 100%; }

.sidebar-left #content { float:right; }
.sidebar-right #content { float:left; }

.column, .columns {
	float: left;
	margin-left: $gutter * .5;
	margin-right: $gutter * .5;
	@include breakpoint(narrow) {
		width: 100%;
		margin: 0;
	}
}

/* Base Grid */

@mixin column-width($num-cols) {
	width: ($column-width * $num-cols) + ($gutter * ($num-cols - 1));

	@include breakpoint(narrow) {
		width: 100%;
	}
}

.container .one.column,
.container .one.columns { @include column-width(1); }
.container .two.columns { @include column-width(2); }
.container .three.columns { @include column-width(3); }
.container .four.columns { @include column-width(4); }
.container .five.columns { @include column-width(5); }
.container .six.columns { @include column-width(6); }
.container .seven.columns { @include column-width(7); }
.container .eight.columns { @include column-width(8);  }
.container .nine.columns { @include column-width(9); }
.container .ten.columns { @include column-width(10); }
.container .eleven.columns { @include column-width(11); }
.container .twelve.columns { @include column-width(12); }
.container .thirteen.columns { @include column-width(13); }
.container .fourteen.columns { @include column-width(14);  }
.container .fifteen.columns { @include column-width(15); }
.container .sixteen.columns, .sixteen.columns { @include column-width(16); }

.container .one-half.columns { width: 50% - $gutter; @include breakpoint(narrow) { width: 100%; } }
.container .one-third.columns { width: 33.3334% - $gutter; @include breakpoint(narrow) { width: 100%; } }
.container .two-thirds.columns { width: 66.6667% - $gutter; @include breakpoint(narrow) { width: 100%; } }

.container .one-fourth.columns { width: 25% - $gutter; @include breakpoint(narrow) { width: 100%; } }
.container .one-fifth.columns { width: 20% - $gutter; @include breakpoint(narrow) { width: 100%; } }
.container .one-sixth.columns { width: 16.6667% - $gutter; @include breakpoint(narrow) { width: 100%; } }
.container .one-seventh.columns { width: 14.285714% - $gutter; @include breakpoint(narrow) { width: 100%; } }

/* Offsets */
@mixin column-offset($offset-num) {
	margin-left: $column-width * $offset-num;
}
.container .offset-by-one { @include column-offset(1);  }
.container .offset-by-two { @include column-offset(2);  }
.container .offset-by-three { @include column-offset(3);  }
.container .offset-by-four  { @include column-offset(4);  }
.container .offset-by-five  { @include column-offset(5);  }
.container .offset-by-six { @include column-offset(6);  }
.container .offset-by-seven  { @include column-offset(7);  }
.container .offset-by-eight  { @include column-offset(8);  }
.container .offset-by-nine { @include column-offset(9);  }
.container .offset-by-ten { @include column-offset(10);  }
.container .offset-by-eleven  { @include column-offset(11);  }
.container .offset-by-twelve { @include column-offset(12);  }
.container .offset-by-thirteen { @include column-offset(13);  }
.container .offset-by-fourteen { @include column-offset(14);  }
.container .offset-by-fifteen { @include column-offset(15); }

#content {
	@extend .sixteen;
	@extend .columns;
}

#main-sidebar {
	@extend .four;
	@extend .columns;
}

body.sidebar-right #content,
body.sidebar-left #content {
	@extend .twelve;
}
