/*-----------------------------------------------------------------------------------*/
/*  WooCommerce General
/*-----------------------------------------------------------------------------------*/
/* line 15, ../scss/woocommerce.scss */
.woocommerce-result-count {
  float: left;
  font-weight: 600;
  color: #999999;
}

/* line 21, ../scss/woocommerce.scss */
.woocommerce-ordering {
  float: right;
}

/* line 25, ../scss/woocommerce.scss */
.product .onsale {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 3px;
  background: #219fd1;
  color: white;
  display: block;
  padding: 3px 10px;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 9;
}

/* line 39, ../scss/woocommerce.scss */
.woocommerce button, .woocommerce input[type=submit] {
  color: #219fd1;
}

/* line 43, ../scss/woocommerce.scss */
.out-of-stock {
  color: #c0081a;
  font-weight: 600;
}

/* line 48, ../scss/woocommerce.scss */
.upsells.products {
  border-top: 1px solid #efefef;
  margin: 40px 0 0 0;
  padding: 40px 0 0 0;
}

/* line 54, ../scss/woocommerce.scss */
.woocommerce-pagination {
  clear: both;
}
/* line 56, ../scss/woocommerce.scss */
.woocommerce-pagination ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 61, ../scss/woocommerce.scss */
.woocommerce-pagination a, .woocommerce-pagination span {
  display: block;
  float: left;
  margin: 0 7px 0 0;
  padding: 7px 10px 6px 10px;
  border: 1px solid #cccccc;
  font-size: 12px;
  line-height: 12px;
  color: #999999 !important;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 73, ../scss/woocommerce.scss */
.woocommerce-pagination a:hover {
  color: white !important;
  border-color: #289dcc;
  background: #289dcc;
}
/* line 80, ../scss/woocommerce.scss */
.woocommerce-pagination span.current {
  background: #333333;
  border-color: #333333;
  color: white !important;
  font-weight: bold;
}

/*-----------------------------------------------------------------------------------*/
/*  Products Overview
/*-----------------------------------------------------------------------------------*/
/* line 93, ../scss/woocommerce.scss */
.products {
  list-style: none;
  margin: 0px -20px 0 0;
  padding: 0px 0 0 0;
  clear: both;
}
/* line 98, ../scss/woocommerce.scss */
.products a {
  display: block;
}
/* line 101, ../scss/woocommerce.scss */
.products li {
  float: left;
  width: 178px;
  border: 1px solid #cccccc;
  list-style: none;
  margin: 0 20px 20px 0;
  padding: 20px 20px 15px 20px;
  position: relative;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0px 1px 2px 0px rgba(180, 180, 180, 0.2);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(180, 180, 180, 0.2);
  box-shadow: 0px 1px 2px 0px rgba(180, 180, 180, 0.2);
  overflow: hidden;
  background: #fafafa;
}
/* line 113, ../scss/woocommerce.scss */
.products li.last {
  margin: 0 20px 20px 0 !important;
}
/* line 116, ../scss/woocommerce.scss */
.products li img {
  margin: -20px -20px 10px -20px;
  width: 218px;
  height: auto;
  border-bottom: 1px solid #cccccc;
}
/* line 122, ../scss/woocommerce.scss */
.products li h3 {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
/* line 127, ../scss/woocommerce.scss */
.products li .price {
  display: block;
  font-size: 18px;
  margin: 0 0 0px 0;
  color: #219fd1;
  border: none;
  padding: 0;
}
/* line 134, ../scss/woocommerce.scss */
.products li .price del {
  color: #999999;
  font-size: 12px;
  margin-right: 5px;
}
/* line 139, ../scss/woocommerce.scss */
.products li .price ins {
  text-decoration: none;
}
/* line 143, ../scss/woocommerce.scss */
.products li .add_to_cart_button, .products li .product_type_variable {
  display: none;
}
/* line 146, ../scss/woocommerce.scss */
.products li .star-rating {
  display: none;
}
/* line 149, ../scss/woocommerce.scss */
.products li a:hover img {
  opacity: 0.8;
}
/* line 154, ../scss/woocommerce.scss */
.products .product .onsale {
  right: 10px;
  left: auto;
}

/*-----------------------------------------------------------------------------------*/
/*  Product Details
/*-----------------------------------------------------------------------------------*/
/* line 165, ../scss/woocommerce.scss */
.product {
  position: relative;
}
/* line 167, ../scss/woocommerce.scss */
.product .images {
  float: left;
  width: 458px;
  margin-right: 20px;
}
/* line 171, ../scss/woocommerce.scss */
.product .images img {
  max-width: 100%;
  height: auto;
}
/* line 175, ../scss/woocommerce.scss */
.product .images .attachment-shop_single {
  border: 1px solid #cccccc;
  overflow: hidden;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0px 1px 2px 0px rgba(180, 180, 180, 0.2);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(180, 180, 180, 0.2);
  box-shadow: 0px 1px 2px 0px rgba(180, 180, 180, 0.2);
}
/* line 181, ../scss/woocommerce.scss */
.product .images .thumbnails {
  margin-top: 17px;
  margin-right: -22px;
}
/* line 184, ../scss/woocommerce.scss */
.product .images .thumbnails img {
  border: 1px solid #cccccc;
  padding: 4px;
  margin-right: 20px;
  overflow: hidden;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0px 1px 2px 0px rgba(180, 180, 180, 0.2);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(180, 180, 180, 0.2);
  box-shadow: 0px 1px 2px 0px rgba(180, 180, 180, 0.2);
}
/* line 194, ../scss/woocommerce.scss */
.product .summary {
  float: left;
  width: 460px;
}
/* line 198, ../scss/woocommerce.scss */
.product h1 {
  margin: 0;
  padding: 0;
}
/* line 202, ../scss/woocommerce.scss */
.product .price {
  border-bottom: 1px solid #efefef;
  padding-bottom: 20px;
  display: block;
  font-size: 24px;
  margin: 0 0 26px 0;
  color: #219fd1;
}
/* line 209, ../scss/woocommerce.scss */
.product .price del {
  color: #999999;
  font-size: 12px;
  margin-right: 5px;
}
/* line 214, ../scss/woocommerce.scss */
.product .price ins {
  text-decoration: none;
}

/*-----------------------------------------------------------------------------------*/
/*  Cart Form / Quantity
/*-----------------------------------------------------------------------------------*/
/* line 224, ../scss/woocommerce.scss */
.cart {
  margin: 30px 0 30px 0;
}
/* line 226, ../scss/woocommerce.scss */
.cart input:focus, .cart button:focus {
  outline: none;
}

/* line 232, ../scss/woocommerce.scss */
.quantity {
  border: 1px solid #ddd;
  float: left;
  overflow: hidden;
  width: 96px;
  margin-right: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
}
/* line 240, ../scss/woocommerce.scss */
.quantity .minus, .quantity .plus, .quantity .qty {
  border: 0;
  color: #444444;
  float: left;
  font-size: 12px;
  height: 37px;
  width: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
/* line 252, ../scss/woocommerce.scss */
.quantity .qty {
  background: transparent;
  width: 43px;
}
/* line 255, ../scss/woocommerce.scss */
.quantity .qty::-webkit-inner-spin-button, .quantity .qty::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* line 260, ../scss/woocommerce.scss */
.quantity .minus, .quantity .plus {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #f7f7f7), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(bottom, #f7f7f7 0%, #ffffff 100%);
  background-image: -webkit-linear-gradient(bottom, #f7f7f7 0%, #ffffff 100%);
  background-image: linear-gradient(to top, #f7f7f7 0%, #ffffff 100%);
  background-color: #F9F9F9;
  cursor: pointer;
  width: 26px;
}
/* line 266, ../scss/woocommerce.scss */
.quantity .minus, .quantity .qty {
  border-right: 1px solid #ddd;
}

/* line 271, ../scss/woocommerce.scss */
.input-text, .quantity .minus, .quantity .plus {
  -webkit-appearance: none;
  border-radius: 0;
}

/* line 276, ../scss/woocommerce.scss */
button.single_add_to_cart_button {
  margin: 0 5px 5px 0;
  font-size: 13px;
  line-height: 13px;
  padding: 12px 20px;
  border: 1px solid #ddd;
  font-weight: bold;
  display: inline-block;
  color: #444444;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #f7f7f7), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(bottom, #f7f7f7 0%, #ffffff 100%);
  background-image: -webkit-linear-gradient(bottom, #f7f7f7 0%, #ffffff 100%);
  background-image: linear-gradient(to top, #f7f7f7 0%, #ffffff 100%);
  background-color: #F9F9F9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
}
/* line 289, ../scss/woocommerce.scss */
button.single_add_to_cart_button:hover {
  color: #999999;
}

/* Variations */
/* line 297, ../scss/woocommerce.scss */
.variations_form table {
  background: #fafafa;
  border: 1px solid #d3d3d3;
  clear: both;
  -moz-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
  box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
}
/* line 302, ../scss/woocommerce.scss */
.variations_form table td {
  vertical-align: middle;
  padding: 20px;
}
/* line 306, ../scss/woocommerce.scss */
.variations_form table tr {
  border-bottom: 1px solid #dddddd;
}
/* line 308, ../scss/woocommerce.scss */
.variations_form table tr:last-child {
  border: none;
}
/* line 312, ../scss/woocommerce.scss */
.variations_form table label {
  width: auto;
}
/* line 316, ../scss/woocommerce.scss */
.variations_form select {
  margin: 0;
  padding: 0;
}

/* line 322, ../scss/woocommerce.scss */
.reset_variations {
  display: none !important;
}

/* line 326, ../scss/woocommerce.scss */
.single_variation_wrap {
  padding: 20px 0 0px 0;
}

/*-----------------------------------------------------------------------------------*/
/*  Meta
/*-----------------------------------------------------------------------------------*/
/* line 334, ../scss/woocommerce.scss */
.product_meta {
  background: #fafafa;
  padding: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 338, ../scss/woocommerce.scss */
.product_meta .posted_in, .product_meta .tagged_as, .product_meta .sku_wrapper {
  display: block;
  color: #999999;
}

/*-----------------------------------------------------------------------------------*/
/*  Tabs
/*-----------------------------------------------------------------------------------*/
/* line 348, ../scss/woocommerce.scss */
.woocommerce-tabs {
  clear: both;
  margin: 0;
  padding: 40px 0 20px 0;
}
/* line 352, ../scss/woocommerce.scss */
.woocommerce-tabs li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0px;
  float: left;
  margin-right: -1px;
}
/* line 360, ../scss/woocommerce.scss */
.woocommerce-tabs li a {
  color: #666666;
  border: 1px solid #d3d3d3;
  display: block;
  padding: 10px 20px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #f7f7f7), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(bottom, #f7f7f7 0%, #ffffff 100%);
  background-image: -webkit-linear-gradient(bottom, #f7f7f7 0%, #ffffff 100%);
  background-image: linear-gradient(to top, #f7f7f7 0%, #ffffff 100%);
  background-color: #F9F9F9;
}
/* line 367, ../scss/woocommerce.scss */
.woocommerce-tabs li a:hover {
  color: #666666;
  background: white;
}
/* line 372, ../scss/woocommerce.scss */
.woocommerce-tabs li.active a {
  background: white;
  border-bottom-color: white;
  color: #333333;
}
/* line 378, ../scss/woocommerce.scss */
.woocommerce-tabs .panel {
  background: white;
  border: 1px solid #d3d3d3;
  clear: both;
  padding: 20px 20px 0px 20px;
  -moz-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
  box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
}
/* line 384, ../scss/woocommerce.scss */
.woocommerce-tabs .panel h2 {
  font-size: 18px;
  color: #219fd1;
}

/* line 391, ../scss/woocommerce.scss */
.shop_attributes {
  margin-bottom: 12px;
  width: 100%;
}
/* line 394, ../scss/woocommerce.scss */
.shop_attributes tr {
  border-bottom: 1px solid #efefef;
}
/* line 396, ../scss/woocommerce.scss */
.shop_attributes tr:last-child {
  border-bottom: 0;
}
/* line 399, ../scss/woocommerce.scss */
.shop_attributes tr th {
  font-weight: 600;
  padding: 8px 0;
  text-align: left;
  width: 20%;
}
/* line 405, ../scss/woocommerce.scss */
.shop_attributes tr td {
  padding: 5px 0;
  text-align: left;
  width: 80%;
}
/* line 411, ../scss/woocommerce.scss */
.shop_attributes p {
  margin: 0;
}

/*-----------------------------------------------------------------------------------*/
/*  Reviews - List
/*-----------------------------------------------------------------------------------*/
/* line 420, ../scss/woocommerce.scss */
.star-rating {
  position: absolute;
  top: 10;
  right: 0px;
  overflow: hidden;
  line-height: 1;
  font-size: 14px;
  width: 90px;
  height: 14px;
  text-align: right;
  font-family: "fontawesome";
  color: #f6d70a;
}
/* line 432, ../scss/woocommerce.scss */
.star-rating:before {
  content: "\f006\f006\f006\f006\f006";
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  letter-spacing: 0.1em;
  letter-spacing: 0\9;
}
/* line 441, ../scss/woocommerce.scss */
.star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
}
/* line 448, ../scss/woocommerce.scss */
.star-rating span:before {
  content: "\f005\f005\f005\f005\f005";
  top: 0;
  position: absolute;
  left: 0;
  letter-spacing: 0.1em;
  letter-spacing: 0.9;
}

/* line 460, ../scss/woocommerce.scss */
#reviews .review-title {
  margin: 0;
}
/* line 461, ../scss/woocommerce.scss */
#reviews .review-main-title {
  margin-bottom: 25px;
}
/* line 462, ../scss/woocommerce.scss */
#reviews .commentlist {
  margin-bottom: 0;
}
/* line 463, ../scss/woocommerce.scss */
#reviews li {
  clear: both;
  background: #fafafa;
  padding: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 20px;
  border: none;
}
/* line 470, ../scss/woocommerce.scss */
#reviews li:last-child {
  margin-bottom: 0;
}
/* line 473, ../scss/woocommerce.scss */
#reviews li .avatar {
  float: left;
  margin-right: 20px;
  display: block;
  border: 4px solid white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.1);
}
/* line 481, ../scss/woocommerce.scss */
#reviews li .comment-text .description {
  clear: both;
}
/* line 485, ../scss/woocommerce.scss */
#reviews .add_review {
  margin: 20px 0 20px 0;
  float: right;
}

/*-----------------------------------------------------------------------------------*/
/*  Reviews - Add Review
/*-----------------------------------------------------------------------------------*/
/* line 495, ../scss/woocommerce.scss */
.comment-form-rating label {
  display: none;
}

/* line 496, ../scss/woocommerce.scss */
.comment-form-comment label {
  display: none;
}

/* line 497, ../scss/woocommerce.scss */
.pp_description {
  display: none !important;
}

/* line 501, ../scss/woocommerce.scss */
.pp_woocommerce form label {
  width: auto;
}

/* line 505, ../scss/woocommerce.scss */
h3.comment-reply-title {
  font-size: 24px;
}

/* line 509, ../scss/woocommerce.scss */
p.stars {
  position: relative;
  line-height: 1;
  font-size: 14px;
}
/* line 513, ../scss/woocommerce.scss */
p.stars:after {
  content: "";
  display: block;
  clear: both;
}
/* line 518, ../scss/woocommerce.scss */
p.stars a {
  width: 90px;
  display: block;
  position: relative;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6px;
  background: #fafafa;
  margin-right: 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-weight: 600;
}
/* line 529, ../scss/woocommerce.scss */
p.stars a:hover, p.stars a.active {
  background: #efefef;
}
/* line 533, ../scss/woocommerce.scss */
p.stars a.star-1:after, p.stars a.star-2:after, p.stars a.star-3:after, p.stars a.star-4:after, p.stars a.star-5:after {
  font-family: "FontAwesome";
  content: "\f005";
  position: absolute;
  top: 9px;
  width: 50px;
  right: 10px;
  font-size: 10px;
  color: #f6d70a;
  text-align: right;
  font-weight: normal;
}
/* line 545, ../scss/woocommerce.scss */
p.stars a.star-1:hover, p.stars a.star-2:hover, p.stars a.star-3:hover, p.stars a.star-4:hover, p.stars a.star-5:hover {
  text-decoration: none;
}
/* line 549, ../scss/woocommerce.scss */
p.stars a.star-1:after {
  content: "\f005";
}
/* line 552, ../scss/woocommerce.scss */
p.stars a.star-2:after {
  content: "\f005\f005";
}
/* line 555, ../scss/woocommerce.scss */
p.stars a.star-3:after {
  content: "\f005\f005\f005";
}
/* line 558, ../scss/woocommerce.scss */
p.stars a.star-4:after {
  content: "\f005\f005\f005\f005";
}
/* line 561, ../scss/woocommerce.scss */
p.stars a.star-5:after {
  content: "\f005\f005\f005\f005\f005";
}

/*-----------------------------------------------------------------------------------*/
/*  Messages
/*-----------------------------------------------------------------------------------*/
/* line 571, ../scss/woocommerce.scss */
.woocommerce-message {
  padding: 12px 12px 12px 20px;
  display: block;
  border-radius: 4px;
  background-color: #f2f7e4;
  color: #88b12b;
  margin-bottom: 40px;
  line-height: 40px;
}
/* line 579, ../scss/woocommerce.scss */
.woocommerce-message a.button {
  margin: 0;
  float: right;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U5ZjJkMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #e9f2d2), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(bottom, #e9f2d2 0%, #ffffff 100%);
  background-image: -webkit-linear-gradient(bottom, #e9f2d2 0%, #ffffff 100%);
  background-image: linear-gradient(to top, #e9f2d2 0%, #ffffff 100%);
  background-color: #e9f2d2;
  border-color: #c0da66;
  color: #88b12b;
}
/* line 587, ../scss/woocommerce.scss */
.woocommerce-message ul, .woocommerce-message li {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
}
/* line 592, ../scss/woocommerce.scss */
.woocommerce-message:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 595, ../scss/woocommerce.scss */
.woocommerce-error {
  padding: 12px 12px 12px 20px;
  display: block;
  border-radius: 4px;
  line-height: 40px;
  background-color: #fdf3f3;
  color: #d25c5a;
  list-style: none !important;
  margin: 0 0 40px 0 !important;
}

/*-----------------------------------------------------------------------------------*/
/*  Shop Cart Table
/*-----------------------------------------------------------------------------------*/
/* line 612, ../scss/woocommerce.scss */
.woocommerce table.shop_table, .woocommerce-page table.shop_table {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
  box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
  border: 1px solid #ddd;
  border-collapse: separate;
  margin: 0 -1px 24px 0;
  text-align: left;
  width: 100%;
  overflow: hidden;
}
/* line 621, ../scss/woocommerce.scss */
.woocommerce table.shop_table th, .woocommerce-page table.shop_table th {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  padding: 20px 20px;
  background: #fafafa;
}
/* line 628, ../scss/woocommerce.scss */
.woocommerce table.shop_table td, .woocommerce-page table.shop_table td {
  border-top: 1px solid #dddddd;
  padding: 20px 20px;
  vertical-align: middle;
}
/* line 632, ../scss/woocommerce.scss */
.woocommerce table.shop_table td small, .woocommerce-page table.shop_table td small {
  font-weight: 400;
}
/* line 637, ../scss/woocommerce.scss */
.woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th, .woocommerce-page table.shop_table tfoot td, .woocommerce-page table.shop_table tfoot th {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 600;
}
/* line 644, ../scss/woocommerce.scss */
.woocommerce table.my_account_orders th, .woocommerce table.my_account_orders td, .woocommerce-page table.my_account_orders th, .woocommerce-page table.my_account_orders td {
  padding: 4px 8px;
  vertical-align: middle;
}
/* line 648, ../scss/woocommerce.scss */
.woocommerce table.my_account_orders .button, .woocommerce-page table.my_account_orders .button {
  white-space: nowrap;
}
/* line 651, ../scss/woocommerce.scss */
.woocommerce table.my_account_orders .order-actions, .woocommerce-page table.my_account_orders .order-actions {
  text-align: right;
}
/* line 653, ../scss/woocommerce.scss */
.woocommerce table.my_account_orders .order-actions .button, .woocommerce-page table.my_account_orders .order-actions .button {
  margin: .125em 0 .125em .25em;
}
/* line 661, ../scss/woocommerce.scss */
.woocommerce td.product-name dl.variation, .woocommerce-page td.product-name dl.variation {
  font-size: .8751em;
  margin: .25em 0 .5em;
}
/* line 664, ../scss/woocommerce.scss */
.woocommerce td.product-name dl.variation dt, .woocommerce-page td.product-name dl.variation dt {
  clear: left;
  float: left;
  font-weight: 600;
  margin: 0 .25em 0 0;
  padding: 0;
}
/* line 671, ../scss/woocommerce.scss */
.woocommerce td.product-name dl.variation dd, .woocommerce-page td.product-name dl.variation dd {
  margin: 0 0 .25em;
}
/* line 684, ../scss/woocommerce.scss */
.woocommerce table.cart img, .woocommerce #content table.cart img, .woocommerce-page table.cart img, .woocommerce-page #content table.cart img {
  height: auto;
  width: 90px;
}
/* line 688, ../scss/woocommerce.scss */
.woocommerce table.cart th, .woocommerce table.cart td, .woocommerce #content table.cart th, .woocommerce #content table.cart td, .woocommerce-page table.cart th, .woocommerce-page table.cart td, .woocommerce-page #content table.cart th, .woocommerce-page #content table.cart td {
  vertical-align: middle;
}
/* line 691, ../scss/woocommerce.scss */
.woocommerce table.cart a.remove, .woocommerce #content table.cart a.remove, .woocommerce-page table.cart a.remove, .woocommerce-page #content table.cart a.remove {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  color: #c0081a;
  display: block;
  font-size: 1.5em;
  font-weight: 600;
  height: 1em;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  width: 1em;
}
/* line 702, ../scss/woocommerce.scss */
.woocommerce table.cart a.remove:hover, .woocommerce #content table.cart a.remove:hover, .woocommerce-page table.cart a.remove:hover, .woocommerce-page #content table.cart a.remove:hover {
  background-color: #c0081a;
  color: white;
}
/* line 707, ../scss/woocommerce.scss */
.woocommerce table.cart td.actions, .woocommerce #content table.cart td.actions, .woocommerce-page table.cart td.actions, .woocommerce-page #content table.cart td.actions {
  text-align: right;
}
/* line 709, ../scss/woocommerce.scss */
.woocommerce table.cart td.actions .coupon, .woocommerce #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon {
  float: left;
}
/* line 711, ../scss/woocommerce.scss */
.woocommerce table.cart td.actions .coupon .input-text, .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text {
  background: white;
  border: 1px solid #ccc;
  padding: 10px 8px;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #666;
  font-size: 13px;
  margin: 0 10px 0 0;
  width: 180px;
  color: #999;
  -moz-box-shadow: 0 1px 2px 0 rgba(180, 180, 180, 0.2);
  -webkit-box-shadow: 0 1px 2px 0 rgba(180, 180, 180, 0.2);
  box-shadow: 0 1px 2px 0 rgba(180, 180, 180, 0.2);
  border: 1px solid #d4d4d4;
}
/* line 726, ../scss/woocommerce.scss */
.woocommerce table.cart td.actions label, .woocommerce #content table.cart td.actions label, .woocommerce-page table.cart td.actions label, .woocommerce-page #content table.cart td.actions label {
  display: none;
}
/* line 729, ../scss/woocommerce.scss */
.woocommerce table.cart td.actions .button.alt, .woocommerce #content table.cart td.actions .button.alt, .woocommerce-page table.cart td.actions .button.alt, .woocommerce-page #content table.cart td.actions .button.alt {
  float: right;
  margin-left: .25em;
}
/* line 734, ../scss/woocommerce.scss */
.woocommerce table.cart input, .woocommerce #content table.cart input, .woocommerce-page table.cart input, .woocommerce-page #content table.cart input {
  line-height: 1em;
  margin: 0;
  vertical-align: middle;
}

/*-----------------------------------------------------------------------------------*/
/*  Shop Cart Totals
/*-----------------------------------------------------------------------------------*/
/* line 746, ../scss/woocommerce.scss */
.cart-collaterals {
  width: 100%;
  margin-top: 40px;
}
/* line 749, ../scss/woocommerce.scss */
.cart-collaterals:after {
  content: "";
  display: block;
  clear: both;
}

/* Cart Totals */
/* line 758, ../scss/woocommerce.scss */
.cart_totals {
  float: right;
  width: 458px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
  box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
  border: 1px solid #ddd;
  overflow: hidden;
}
/* line 765, ../scss/woocommerce.scss */
.cart_totals h2 {
  margin: 20px;
}
/* line 768, ../scss/woocommerce.scss */
.cart_totals table {
  width: 100%;
}
/* line 771, ../scss/woocommerce.scss */
.cart_totals tr {
  border-top: 1px solid #dddddd;
}
/* line 774, ../scss/woocommerce.scss */
.cart_totals th {
  text-align: left;
  padding: 20px;
  background: #fafafa;
  border-right: 1px solid #dddddd;
}
/* line 780, ../scss/woocommerce.scss */
.cart_totals td {
  text-align: right;
  padding: 20px;
  color: #999999;
}
/* line 785, ../scss/woocommerce.scss */
.cart_totals .total .amount {
  font-size: 16px;
  color: #444444;
}

/* Shipping Calculator */
/* line 793, ../scss/woocommerce.scss */
.shipping_calculator {
  float: left;
  width: 458px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0px 1px 2px 0px rgba(180, 180, 180, 0.1);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(180, 180, 180, 0.1);
  box-shadow: 0px 1px 2px 0px rgba(180, 180, 180, 0.1);
  border: 1px solid #ddd;
  overflow: hidden;
}
/* line 800, ../scss/woocommerce.scss */
.shipping_calculator h2 {
  margin: 20px;
}
/* line 803, ../scss/woocommerce.scss */
.shipping_calculator .shipping-calculator-form {
  border-top: 1px solid #dddddd;
  padding: 20px;
}
/* line 807, ../scss/woocommerce.scss */
.shipping_calculator p {
  margin: 0;
}
/* line 810, ../scss/woocommerce.scss */
.shipping_calculator button {
  margin: 0;
  font-size: 13px;
  line-height: 13px;
  padding: 12px 20px;
  border: 1px solid #ddd;
  font-weight: bold;
  display: inline-block;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #f7f7f7), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(bottom, #f7f7f7 0%, #ffffff 100%);
  background-image: -webkit-linear-gradient(bottom, #f7f7f7 0%, #ffffff 100%);
  background-image: linear-gradient(to top, #f7f7f7 0%, #ffffff 100%);
  background-color: #F9F9F9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
}

/*-----------------------------------------------------------------------------------*/
/*  Shop Cart Checkout
/*-----------------------------------------------------------------------------------*/
/* line 830, ../scss/woocommerce.scss */
#customer_details .col-1, #customer_details .col-2 {
  border: 1px solid #dddddd;
  padding: 20px 20px 0px 20px;
  margin: 0 0 40px 0;
  overflow: hidden;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
}
/* line 837, ../scss/woocommerce.scss */
#customer_details .col-1 h3, #customer_details .col-2 h3 {
  border-bottom: 1px solid #dddddd;
  background: #fafafa;
  margin: -20px -20px 20px -20px;
  padding: 20px;
}

/* line 848, ../scss/woocommerce.scss */
.woocommerce form.checkout input, .woocommerce form.checkout select, .woocommerce form.checkout .submit, .woocommerce form.checkout textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 10px;
  background: #fafafa;
}
/* line 854, ../scss/woocommerce.scss */
.woocommerce form.checkout label {
  display: block;
  margin: 0 0 5px 0;
  padding: 0;
  font-weight: 600;
}
/* line 859, ../scss/woocommerce.scss */
.woocommerce form.checkout label.checkbox {
  display: block;
  width: auto;
}
/* line 864, ../scss/woocommerce.scss */
.woocommerce form.checkout input[type=checkbox] {
  display: inline;
  width: auto;
  margin-left: 10px;
}
/* line 869, ../scss/woocommerce.scss */
.woocommerce form.checkout .form-row-wide {
  width: 100%;
}

/* line 874, ../scss/woocommerce.scss */
.create-account {
  display: block;
  margin-top: 20px;
}

/* line 879, ../scss/woocommerce.scss */
#shiptobilling {
  float: right;
  width: 186px;
  margin-top: 4px;
}

/* line 886, ../scss/woocommerce.scss */
.checkout .shop_table th {
  border-right: 1px solid #dddddd;
}
/* line 889, ../scss/woocommerce.scss */
.checkout .shop_table .total {
  font-size: 16px;
  color: #219fd1;
  font-weight: 600;
}

/*-----------------------------------------------------------------------------------*/
/*  Shop Cart Checkout
/*-----------------------------------------------------------------------------------*/
/* line 900, ../scss/woocommerce.scss */
#payment {
  padding: 0px;
  border: 1px solid #dddddd;
  overflow: hidden;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
}
/* line 906, ../scss/woocommerce.scss */
#payment ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 910, ../scss/woocommerce.scss */
#payment ul li {
  display: block;
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid #dddddd;
}
/* line 914, ../scss/woocommerce.scss */
#payment ul li .payment_box {
  width: 100%;
  display: block;
  clear: both;
  padding: 20px 0 0 0;
}
/* line 919, ../scss/woocommerce.scss */
#payment ul li .payment_box p {
  margin: 0;
}
/* line 923, ../scss/woocommerce.scss */
#payment ul li:after {
  content: "";
  display: block;
  clear: both;
}
/* line 930, ../scss/woocommerce.scss */
#payment input {
  width: auto;
  float: left;
}
/* line 933, ../scss/woocommerce.scss */
#payment input.button {
  float: right;
  margin: 20px 20px 20px 20px;
  font-size: 13px;
  line-height: 13px;
  padding: 12px 20px;
  border: 1px solid #c0da66;
  font-weight: bold;
  display: inline-block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U5ZjJkMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #e9f2d2), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(bottom, #e9f2d2 0%, #ffffff 100%);
  background-image: -webkit-linear-gradient(bottom, #e9f2d2 0%, #ffffff 100%);
  background-image: linear-gradient(to top, #e9f2d2 0%, #ffffff 100%);
  background-color: #e9f2d2;
  color: #88b12b;
}
/* line 948, ../scss/woocommerce.scss */
#payment label {
  display: inline-block;
  float: left;
  width: auto;
  margin: 0 0 0 5px;
}
/* line 953, ../scss/woocommerce.scss */
#payment label img {
  float: right;
  margin-top: -23px;
  margin-left: 10px;
}

/* line 963, ../scss/woocommerce.scss */
.woocommerce-info {
  padding: 20px;
  border: 1px solid #dddddd;
  overflow: hidden;
  background: #fafafa;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
}

/*.checkout_coupon .form-row-first{
	float: left;
	margin-right: 10px;
}*/
/*-----------------------------------------------------------------------------------*/
/*  Shop Cart Order Received & Account
/*-----------------------------------------------------------------------------------*/
/* line 981, ../scss/woocommerce.scss */
.woocommerce .addresses {
  margin-top: 40px;
}
/* line 983, ../scss/woocommerce.scss */
.woocommerce .addresses .col-1 {
  float: left;
}
/* line 986, ../scss/woocommerce.scss */
.woocommerce .addresses .col-2 {
  float: right;
}
/* line 989, ../scss/woocommerce.scss */
.woocommerce .addresses .col-1, .woocommerce .addresses .col-2 {
  width: 49%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #dddddd;
  overflow: hidden;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
}
/* line 998, ../scss/woocommerce.scss */
.woocommerce .addresses address {
  font-style: normal;
  margin: 0;
  padding: 0;
}
/* line 1002, ../scss/woocommerce.scss */
.woocommerce .addresses address p {
  margin: 0;
  padding: 0;
}
/* line 1006, ../scss/woocommerce.scss */
.woocommerce .addresses address header {
  margin: 0;
  padding: 0;
  border: none;
}
/* line 1011, ../scss/woocommerce.scss */
.woocommerce .addresses address h3 {
  margin: -20px -20px 20px -20px;
  background: #fafafa;
  padding: 20px;
  border-bottom: 1px solid #dddddd;
}

/* line 1020, ../scss/woocommerce.scss */
.shop_table.order_details th {
  border-right: 1px solid #dddddd;
}

/* line 1025, ../scss/woocommerce.scss */
.woocommerce .form-row label {
  display: block !important;
  font-weight: 600;
  width: auto;
  margin: 0 0 5px 0;
  padding: 0;
}
/* line 1032, ../scss/woocommerce.scss */
.woocommerce .form-row input, .woocommerce .form-row select, .woocommerce .form-row .submit, .woocommerce .form-row textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 10px;
  background: #fafafa;
}
/* line 1038, ../scss/woocommerce.scss */
.woocommerce .form-row input[type=submit], .woocommerce .form-row button {
  margin: 0 5px 5px 0;
  font-size: 13px;
  line-height: 13px;
  padding: 12px 20px;
  border: 1px solid #ddd;
  font-weight: bold;
  display: inline-block;
  width: auto;
  color: #219fd1;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #f7f7f7), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(bottom, #f7f7f7 0%, #ffffff 100%);
  background-image: -webkit-linear-gradient(bottom, #f7f7f7 0%, #ffffff 100%);
  background-image: linear-gradient(to top, #f7f7f7 0%, #ffffff 100%);
  background-color: #F9F9F9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
}

/* line 1055, ../scss/woocommerce.scss */
.my_account_orders th,
.my_account_orders td {
  padding: 20px !important;
}

/*-----------------------------------------------------------------------------------*/
/*  WooCommerce Widgets
/*-----------------------------------------------------------------------------------*/
/* line 1065, ../scss/woocommerce.scss */
.product_list_widget li {
  border-bottom: 1px solid #efefef;
  padding: 0 0 8px 0 !important;
  margin: 0 0 8px 0 !important;
  clear: both;
}
/* line 1070, ../scss/woocommerce.scss */
.product_list_widget li:last-child {
  margin: 0;
  border: none;
}
/* line 1074, ../scss/woocommerce.scss */
.product_list_widget li:after {
  content: "";
  display: block;
  clear: both;
}
/* line 1080, ../scss/woocommerce.scss */
.product_list_widget a {
  display: block;
}
/* line 1083, ../scss/woocommerce.scss */
.product_list_widget img {
  width: 42px;
  height: auto;
  float: left;
  margin-right: 8px;
}
/* line 1092, ../scss/woocommerce.scss */
.product_list_widget .star-rating {
  position: relative;
}

/* line 1097, ../scss/woocommerce.scss */
.widget_product_search label {
  display: none;
}

/* line 1101, ../scss/woocommerce.scss */
td.actions input {
  margin: 0;
}

/* line 1109, ../scss/woocommerce.scss */
.widget_shopping_cart li:last-child {
  margin: 0;
  border: none;
}
/* line 1113, ../scss/woocommerce.scss */
.widget_shopping_cart li:after {
  content: "";
  display: block;
  clear: both;
}
/* line 1119, ../scss/woocommerce.scss */
.widget_shopping_cart a {
  display: block;
}
/* line 1121, ../scss/woocommerce.scss */
.widget_shopping_cart a.button {
  display: inline;
  width: auto;
  padding: 5px 8px;
  margin: 0;
}
/* line 1128, ../scss/woocommerce.scss */
.widget_shopping_cart img {
  display: none;
}
/* line 1131, ../scss/woocommerce.scss */
.widget_shopping_cart .variation {
  display: none;
}
/* line 1134, ../scss/woocommerce.scss */
.widget_shopping_cart .quantity {
  border: none;
  box-shadow: none;
  display: block;
  width: auto;
}

/* Price Filter */
/* line 1146, ../scss/woocommerce.scss */
.woocommerce .widget_price_filter .price_slider, .woocommerce-page .widget_price_filter .price_slider {
  margin-bottom: 1em;
}
/* line 1149, ../scss/woocommerce.scss */
.woocommerce .widget_price_filter .price_slider_amount, .woocommerce-page .widget_price_filter .price_slider_amount {
  text-align: right;
  line-height: 2.4em;
  font-size: 0.8751em;
}
/* line 1153, ../scss/woocommerce.scss */
.woocommerce .widget_price_filter .price_slider_amount .button, .woocommerce-page .widget_price_filter .price_slider_amount .button {
  font-size: 1.15em;
  float: left;
}
/* line 1158, ../scss/woocommerce.scss */
.woocommerce .widget_price_filter .ui-slider, .woocommerce-page .widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
}
/* line 1161, ../scss/woocommerce.scss */
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 0.9em;
  height: 0.9em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  border: 1px solid #999999;
  cursor: pointer;
  background: #efefef;
  outline: none;
  top: -0.3em;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.65);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.65);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.65);
}
/* line 1173, ../scss/woocommerce.scss */
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle:last-child, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle:last-child {
  margin-left: -1em;
}
/* line 1177, ../scss/woocommerce.scss */
.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background: #efefef;
  -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}
/* line 1189, ../scss/woocommerce.scss */
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content, .woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content {
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  background: #1e1e1e;
}
/* line 1194, ../scss/woocommerce.scss */
.woocommerce .widget_price_filter .ui-slider-horizontal, .woocommerce-page .widget_price_filter .ui-slider-horizontal {
  height: .5em;
}
/* line 1196, ../scss/woocommerce.scss */
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
/* line 1200, ../scss/woocommerce.scss */
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-min, .woocommerce-page .widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
  left: -1px;
}
/* line 1203, ../scss/woocommerce.scss */
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-max, .woocommerce-page .widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
  right: -1px;
}
/* line 1207, ../scss/woocommerce.scss */
.woocommerce .widget_price_filter .button, .woocommerce-page .widget_price_filter .button {
  margin: 0;
  font-size: 13px;
  line-height: 13px;
  padding: 6px 20px;
  border: 1px solid #ddd;
  font-weight: bold;
  display: inline-block;
  color: #444444;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #f7f7f7), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(bottom, #f7f7f7 0%, #ffffff 100%);
  background-image: -webkit-linear-gradient(bottom, #f7f7f7 0%, #ffffff 100%);
  background-image: linear-gradient(to top, #f7f7f7 0%, #ffffff 100%);
  background-color: #F9F9F9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
}

/* line 1223, ../scss/woocommerce.scss */
.woocommerce .commentlist li.comment {
  width: 95%;
  margin-bottom: 20px;
}
/* line 1226, ../scss/woocommerce.scss */
.woocommerce .commentlist li.comment:after {
  content: "";
  display: block;
  clear: both;
}

/*-----------------------------------------------------------------------------------*/
/*  WooCommerce Responsiveness
/*-----------------------------------------------------------------------------------*/
/* Tablet Portrait size to standard 960 (devices and browsers) --------------------- */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 1241, ../scss/woocommerce.scss */
  .products {
    width: 768px;
  }
  /* line 1244, ../scss/woocommerce.scss */
  .products li img {
    width: 322px;
    width: 362px;
  }

  /* line 1252, ../scss/woocommerce.scss */
  .product .images {
    width: 362px;
    margin-right: 20px;
  }
  /* line 1255, ../scss/woocommerce.scss */
  .product .images .thumbnails img {
    width: 66px;
    height: auto;
  }
  /* line 1260, ../scss/woocommerce.scss */
  .product .summary {
    width: 364px;
  }

  /* line 1265, ../scss/woocommerce.scss */
  .twelve .products {
    width: 566px;
  }
  /* line 1267, ../scss/woocommerce.scss */
  .twelve .products li {
    width: 221px;
  }
  /* line 1269, ../scss/woocommerce.scss */
  .twelve .products li img {
    width: 261px;
  }

  /* line 1275, ../scss/woocommerce.scss */
  .cart_totals {
    width: 100%;
    float: none;
    margin: 0 0 20px 0;
  }

  /* line 1281, ../scss/woocommerce.scss */
  .shipping_calculator {
    width: 100%;
    float: none;
    margin: 0 0 20px 0;
  }
}
/* All Mobile Sizes (devices and browser) / all under Tablet --------------------- */
@media only screen and (max-width: 767px) {
  /* line 1292, ../scss/woocommerce.scss */
  .star-rating {
    position: relative;
    margin-bottom: 10px;
  }

  /* line 1298, ../scss/woocommerce.scss */
  .woocommerce-tabs li {
    float: none;
    margin-bottom: -1px;
    margin-right: 0px;
  }
  /* line 1302, ../scss/woocommerce.scss */
  .woocommerce-tabs li.active a {
    border-bottom-color: #d3d3d3;
  }

  /* line 1308, ../scss/woocommerce.scss */
  .woocommerce table.shop_table th, .woocommerce-page table.shop_table th {
    padding: 10px 0px;
  }

  /* line 1312, ../scss/woocommerce.scss */
  .woocommerce table.shop_table td, .woocommerce-page table.shop_table td {
    padding: 10px 0px;
  }

  /* line 1316, ../scss/woocommerce.scss */
  .shop_table .product-subtotal {
    display: none;
  }

  /* line 1320, ../scss/woocommerce.scss */
  .shop_table .product-remove {
    display: none;
  }

  /* line 1324, ../scss/woocommerce.scss */
  .woocommerce td.actions {
    text-align: center !important;
    padding: 10px 10px 0 10px !important;
  }

  /* line 1329, ../scss/woocommerce.scss */
  td.actions input {
    box-sizing: border-box;
    width: 100%;
    float: none;
    display: block;
    margin: 0 0 10px 0 !important;
  }

  /* line 1337, ../scss/woocommerce.scss */
  .cart_totals {
    width: 100%;
    float: none;
    margin: 0 0 20px 0;
  }

  /* line 1343, ../scss/woocommerce.scss */
  .shipping_calculator {
    width: 100%;
    float: none;
    margin: 0 0 20px 0;
  }
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) --------------------- */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 1355, ../scss/woocommerce.scss */
  .products {
    width: 420px;
  }
  /* line 1357, ../scss/woocommerce.scss */
  .products li {
    width: 378px;
  }
  /* line 1359, ../scss/woocommerce.scss */
  .products li img {
    width: 418px;
  }

  /* line 1366, ../scss/woocommerce.scss */
  .product .images {
    width: 418px;
    margin-right: 0px;
  }
  /* line 1369, ../scss/woocommerce.scss */
  .product .images .thumbnails img {
    width: 80px;
    height: auto;
    margin-bottom: 20px;
  }
  /* line 1375, ../scss/woocommerce.scss */
  .product .summary {
    width: 420px;
  }

  /* line 1380, ../scss/woocommerce.scss */
  .woocommerce .commentlist li.comment {
    width: 90%;
    margin-bottom: 20px;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) --------------------- */
@media only screen and (max-width: 479px) {
  /* line 1391, ../scss/woocommerce.scss */
  .products {
    width: 300px;
  }
  /* line 1393, ../scss/woocommerce.scss */
  .products li {
    width: 258px;
  }
  /* line 1395, ../scss/woocommerce.scss */
  .products li img {
    width: 298px;
  }

  /* line 1401, ../scss/woocommerce.scss */
  .woocommerce-result-count,
  .woocommerce-ordering {
    float: none;
    margin: 0 0 10px 0;
  }

  /* line 1408, ../scss/woocommerce.scss */
  .product .images {
    width: 298px;
    margin-right: 0px;
  }
  /* line 1411, ../scss/woocommerce.scss */
  .product .images .thumbnails img {
    width: 50px;
    height: auto;
    margin-bottom: 20px;
  }
  /* line 1417, ../scss/woocommerce.scss */
  .product .summary {
    width: 300px;
  }

  /* line 1422, ../scss/woocommerce.scss */
  .woocommerce .commentlist li.comment {
    width: 87%;
    margin-bottom: 20px;
  }
}
/*-----------------------------------------------------------------------------------*/
/* Added in Version 4.5.2.
/*-----------------------------------------------------------------------------------*/
/* line 1432, ../scss/woocommerce.scss */
#customer_details label,
.woocommerce .form-row-wide label {
  display: block;
  float: none;
}

/* line 1438, ../scss/woocommerce.scss */
#account_password_field label,
.woocommerce .form-row label {
  display: block !important;
  float: none !important;
}

/* line 1444, ../scss/woocommerce.scss */
#customer_details .create-account label,
.woocommerce label.inline {
  float: left;
  width: auto;
  display: inline-block;
}

/* line 1451, ../scss/woocommerce.scss */
.login label {
  display: block;
  float: none;
}

/* line 1456, ../scss/woocommerce.scss */
.woocommerce form input[type=text],
.woocommerce form input[type=password],
.woocommerce form select,
.woocommerce form submit,
.woocommerce form textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 10px;
  background: #fafafa;
}

/* line 1468, ../scss/woocommerce.scss */
.woocommerce .woocommerce-shipping-fields h3 label {
  width: auto;
  display: inline !important;
  font-weight: 500;
}
/* line 1476, ../scss/woocommerce.scss */
.woocommerce .woocommerce-shipping-fields h3:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

/* line 1486, ../scss/woocommerce.scss */
#shiptobilling {
  float: right;
  width: 220px;
  margin-top: 4px;
}
/* line 1490, ../scss/woocommerce.scss */
#shiptobilling input {
  width: auto;
  float: left;
}

/* line 1496, ../scss/woocommerce.scss */
.woocommerce .coupon input {
  display: inline;
}

/* line 1500, ../scss/woocommerce.scss */
.woocommerce-info {
  margin-bottom: 20px;
}
